:root {
  /* Брейкпоинты */
  --breakpoint-mobile: 768px;

  /* Контейнеры */
  --header-height: 70px;
  --sidebar-width: 220px;

  /* z-index */
  --z-pwa: 110;
  --z-header: 100;
  --z-sidebar: 90;
}
