.not-found-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .not-found-content {
    text-align: center;
    padding: 20px;
  }

  h1 {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
}
